/*
Colors used:
Background Color (WHite): #FFFFFF;
Secondary Color (Cream): #FFF1BF;
Font Color (Brown): #B38B00;
Button Color (Orange): #FFA500;
*/
body {
  background-color: #ffffff;
  font-family: 'encode+sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #B38B00;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #B38B00;
  text-decoration: none; /* No underlining*/
}
a:visited { /* visited link */
  color: #B38B00;
}
a:hover,
a:focus {
  color: #FFA500;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #FFA500;
}
.button {
  display: inline-block;
  background-color: #FFA500;
  color: #FFFFFF;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994C30;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #FFA500;
  text-transform: uppercase;
  border: 2px solid #FFA500;
}
.button.contact:hover {
  background-color: #FFA500;
  color: #FFFFFF;
}
.button.contact:active {
  background-color: #FFA500;
  color: #FFFFFF;
}
