/*
Colors used:
Background Color (WHite): #FFFFFF;
Secondary Color (Cream): #FFF1BF;
Font Color (Brown): #B38B00;
Button Color (Orange): #FFA500;
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: 'encode sans', sans-serif;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #B38B00;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
a {
  color: #B38B00;
  text-decoration: none; /* No underlining*/
}
a:visited { /* visited link */
  color: #B38B00;
}
a:hover,
a:focus {
  color: #FFA500;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #FFA500;
}
.button {
  display: inline-block;
  background-color: #FFA500;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #B38B00;
  transition-duration: 0.2s;
  transition-property: opacity;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  background-color: #FFFFFF;
  color: #FFA500;
  text-decoration: none;
  border: 2px solid #B38B00;
}
.button.contact {
  background-color: transparent;
  color: #FFA500;
  text-transform: uppercase;
  border: 2px solid #B38B00;
}
.button.contact:hover {
  background-color: #FFA500;
  color: #FFFFFF;
  border: 2px solid #B38B00;
}
.button.contact:active {
  background-color: #FFA500;
  color: #FFFFFF;
}
header {
  background-color: #FFFFFF;
  padding: 99px;
  text-align: unset;
  margin: 10px;
  border-top: 3px solid #FFA500;
  border-right: 3px solid #FFA500;
  border-bottom: 3px solid #FFA500;
  border-left: 3px solid #FFA500;
}
.container {
  padding: 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#hero h1 {
  text-align: center; /* Centers */
  margin: 0;
  padding: 0.67em 0;
}
#hero h2 {
  text-align: center;
  margin: 0;
  padding: 0.67em 0;
}
.logo {
  max-width: 250px;
  text-align: center;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  padding: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #B38B00;
}
#hero {
  background-color: #FFF1BF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero span {
  display: block;
}
@media only screen and (min-width: 640px) {  /* Medium devices (640px and larger) */
  .col-md-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) { /* Large devices (1024px and larger) */
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
}
@media only screen and (min-width: 1440px) { /* X-large devices (1440px or larger) */
}
@media only screen and (min-width: 1920px) { /* Extra-large devices (1920px or larger) */
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
#about-page h3 {
  margin-top: 0;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}
.cloud-back {
  animation-duration: 40s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
